.tool-container {

  position: absolute;
  top:0;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  height: 200px;
  z-index: 999;
}

.left-bar {
  width: 300px;
}

.right {
  width: 100px;
}