.tool-container {
  position: absolute;
  top:60px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  z-index: 999;
  padding: 1rem;
}

.bar-title {
  margin-bottom: 1rem;
}

.bar-buttons {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 1rem;
    width: 48px;
    height: 48px;
  }
}
.bar-button {

}